.lg-modal .modal-dialog {
    max-width: 1100px;
    padding: 0 15px;
}

.md-modal .modal-dialog {
    max-width: 800px;
    padding: 0 15px;
}

.sm-modal .modal-dialog {
    max-width: 500px;
    padding: 0 15px;
}

.common-modal {
    .btn-close-btn {
        position: absolute;
        right: -40px;
        top: -40px;
        background: rgb(255 255 255 / 30%);
        border-radius: 100px;
        padding: 9px;
        color: $dark-1;
        width: 44px;
        height: 44px;
        svg {
            display: block;
        }

        @media screen and (max-width: 1199px) {
            right: 0;
            top: -50px;
        }
    }
    .modal-content {
        border-radius: 24px;
        
        .modal-header {
            background: $primary-50;
            border-top-left-radius: 24px;
            border-top-right-radius: 24px;
            padding: 24px 24px;
            border-bottom: 1px solid $dark-6;
        }
 
        .common-modal-body {
            padding: 24px 24px;
        }
    }
}

