/* ---------- BASE TYPOGRAPHY ---------- */

* {
    box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}


body {
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 400;
  color: $dark-12;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* ---------- HEADINGS ---------- */


h1 {
    font-weight: 700; 
    font-size: 32px; 
    line-height: 140%;
    letter-spacing: 0;
    color: $dark-12;
}

h2 { 
    font-weight: 700; 
    font-size: 32px; 
    line-height: 140%;
    letter-spacing: 0;
    color: $dark-12;
}

h3 { 
    font-weight: 600; 
    font-size: 28px; 
    line-height: 140%;
    letter-spacing: 0;
    color: $dark-12;
}

h4 { 
    font-weight: 700; 
    font-size: 24px; 
    line-height: 140%;
    letter-spacing: 0;
    color: $dark-12;
}

h5 { 
    font-weight: 700; 
    font-size: 20px; 
    line-height: 140%;
    letter-spacing: 0;
    color: $dark-12;
}

h6 { 
    font-weight: 700; 
    font-size: 18px; 
    line-height: 140%;
    letter-spacing: 0;
    color: $dark-12;
 }

/* ---------- PARAGRAPH ---------- */

// p {}

/* ---------- LINKS ---------- */

a {
  color: $dark-12;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

button {
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

a:hover {
    color: $primary-500;
}

/* ---------- LISTS ---------- */

// ul, ol {
//   padding-left: 1.4em;
//   margin: 0 0 1.2em;
// }

// li {
//   margin-bottom: 0.4em;
// }

/* ---------- EMPHASIS ---------- */

// strong {
//   font-weight: 600;
// }

// small {
//   font-size: 0.85rem;
//   opacity: 0.8;
// }

/* ---------- BLOCKQUOTE ---------- */

// blockquote {
//   margin: 1.5em 0;
//   padding: 1em 1.4em;
//   border-left: 4px solid #0057ff;
//   background: #f5f7ff;
//   color: #333;
//   font-style: italic;
// }

/* ---------- CODE ---------- */

// code {
//   background: #f2f2f2;
//   padding: 2px 6px;
//   border-radius: 4px;
//   font-size: 0.9rem;
//   font-family: "Fira Code", monospace;
// }

/* ---------- IMAGES ---------- */

.container {
    max-width: 1380px;
}


img {
  max-width: 100%;
  height: auto;
  display: block;
}

.p-12 {
	padding: 12px;
}

.p-20 {
    padding: 20px;
}

.btn-lighter-blue {
	border: 1px solid $dark-1;
	background: $blue-50;
	padding: 4px 8px;
	border-radius: 8px;
	display: inline-block;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	color: $blue-600;
}
.card-btn {
	background: $dark-3;
	border: 1px solid $dark-1;
	padding: 4px 10px;
	border-radius: 99px;
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: .2px;
	text-align: center;
}

