.mb-44{ margin-bottom: 44px;}
.auth-wrapper { width: 100%; background-size: cover; background-repeat: no-repeat; background-position: center center; min-height: 100vh; align-items: center; padding: 30px 50px; }
.auth-wrapper .auth-container { width: 1313px; margin: 0 auto; display: flex; background: var(--bs-white); border-radius: 24px; box-shadow: 8px 8px 24px 0px #00000014; }
.auth-form { flex: 1; display: flex; align-items: center; padding: 48px 30px; }
.max-card { max-width: 400px; margin: 0 auto; width: 100%;}
.max-card .auth-logo { margin-bottom: 4px; }
.max-card p { margin-bottom: 44px; }
.pass-container { position: absolute; right: 0; top: 0; display: flex; align-items: center; width: 52px; height: 52px; justify-content: center; cursor: pointer; }
.pass-container img, .pass-container svg { width: 24px; height: auto; }
.auth-info { flex: 0 0 auto; width: 570px; }
.auth-bg { border-radius: 24px; overflow: hidden; background: radial-gradient(125.57% 123.21% at 14.81% 0%, #A98AFF 0%, #8154FF 50%, #8154FF 75%, #20387E 100%); height: 100%; }
.auth-bg img { width: 100%; height: auto; }
.forgot-link { margin: 48px 0px;}
.link-underline-text {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-underline-offset: 3px;
}

.create-account a {
    font-weight: 500;
}

.demo{ display: flex;}
.auth-container.auth-card-small {
    max-width: 495px;
    width: 100%;
}

@media screen and (max-width:1199px) {
.auth-info {width: 50%;}
}

@media screen and (max-width:991px) {
.auth-wrapper { padding: 30px 20px;}
}

@media screen and (max-width:767px) {
.auth-wrapper {padding: 30px 10px;}    
.auth-wrapper .auth-container{ display: block;}
.auth-info {width: 100%; display: none;}
.auth-form {padding: 30px 15px;}
.max-card p {font-size: 13px;}
}