.card-simple {
  padding: 12px;
  background: var(--dark-1);
  border: 1px solid var(--dark-4);
  border-radius: 24px;
  transition: all 0.5s ease;
}
.card-simple:hover {
  transform: translateY(-7px);
  box-shadow: 0 6px 4px 0px #dfdfdf;
}
.card-simple .img-box img {
  width: 100%;
  display: block;
  height: 160px;
  object-fit: cover;
  border-radius: 16px;
}
.card-simple .card-top-box {
  padding: 10px 8px;
  top: 0;
  width: 100%;
}
.card-simple .left-card-box {
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  text-shadow: 0px 0px 8px #000000;
  color: var(--dark-1);
}
.card-simple .text-box {
  padding-top: 12px;
}
.card-simple h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  margin: 0;
}
.card-simple .card-inline-text {
  margin: 8px 0 16px;
}
.card-simple .card-inline-text .img {
  width: 24px;
  height: 24px;
}
.card-simple .card-inline-text .text {
  font-size: 13px;
  line-height: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  flex: 1;
}
