.form-control, .form-select{
    box-shadow: none !important;
    padding: 17px 12px;
    border-radius: 10px;
    background-color: var(--dark-1);
    border: 1px solid var(--dark-5) !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 140% !important;
    letter-spacing: 0;
    color: var(--dark-12);
    font-family: var(--font-primary);
}
 
.form-control::placeholder, .calendar-box input::placeholder {
    color: var(--dark-7);
    font-family: var(--font-primary);
}
 
.form-floating > .form-select {
    padding: 17px 12px;
}
 
.form-select {
    background: var(--dark-1) url(../images/downArrow.svg);
    background-repeat: no-repeat;
    background-position: right 15px center;
    transition: none; 
}

.form-control:focus, .form-select:focus{
    background-color: var(--dark-1);
    border-color: var(--primary-500) !important;
}
 
.form-floating > .form-control:focus ~ label,
.form-floating > .form-select:focus ~ label,
.form-group:has(.form-control:focus) label,
.form-group:has(.form-select:focus) label {
    color: var(--primary-500);
}
 
.form-floating > label, label{
    color: var(--dark-7);
    opacity: 1;
    font-size: 16px;
    left: 14px;
    padding-left: 0;
    line-height: 140%;
    font-weight: 400;
    letter-spacing: 0;
    font-family: var(--font-primary);
}
 
.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
    height: auto;
    background: var(--dark-1);
    padding: 2px;
    transform: scale(.85) translateY(-11px) translateX(.15rem);
    line-height: 100%;
    font-family: var(--font-primary);
}
 
.form-floating > textarea:focus ~ label:after,
.form-floating > textarea:not(:placeholder-shown) ~ label:after{
    opacity: 0;
}
 
.form-floating > .form-control,
.form-floating > .form-control-plaintext {
    padding: 17px 12px !important;
    font-family: var(--font-primary);
}
.btn-outline {
    border: 1px solid var(--primary-500);
    padding: 12px 24px;
    border-radius: 12px;
    background: transparent;
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    color: var(--primary-500);
    text-decoration: none;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.btn-outline:hover {
    border-color: var(--primary-500);
    background-color: var(--primary-500);
}
.btn-outline.fill-btn {
    background: var(--primary-500);
    color: var(--dark-1);
}
.btn-outline.fill-btn:hover {
    border-color: var(--primary-500);
    background-color: transparent;
    color: var(--primary-500);
}
.btn-outline.grey-btn {
    background: var(--dark-3);
    border-color: var(--dark-3);
    color: var(--dark-8);
}
.btn-outline.grey-btn:hover {
    background: var(--dark-1);
}
 
 
/**********checkbox radio swich btn design***************/
 
.form-check-input[type="checkbox"] {
    border: 1px solid var(--dark-8);
    width: 24px;
    height: 24px;
    border-radius: 6px;
    box-shadow: none;
    cursor: pointer;
}
 
.form-check-input:checked[type="checkbox"] {
    background: var(--primary-500) url(../images/check-box.svg);
    border: 2px solid var(--dark-1) !important;
    box-shadow: 0 0 0 1px var(--primary-500);    
    background-repeat: no-repeat;
    background-position: center;
}
 
.form-check-input:checked[type="checkbox"]:disabled {
    background: var(--dark-8) url(../images/check-box.svg);
    border: 2px solid var(--dark-1) !important;
    box-shadow: 0 0 0 1px var(--dark-8);
    opacity: 1;  
    background-repeat: no-repeat;
    background-position: center;
}
 
/*************radio*************/
 
.form-check-input[type="radio"] {
    border: 1px solid var(--dark-8);
    width: 24px;
    height: 24px;
    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
}
 
.form-check-input:checked[type="radio"] {
    border: 2px solid var(--dark-1) !important;
    box-shadow: 0 0 0 1px var(--primary-500);
    background: var(--primary-500);
}
 
.form-check-input:checked[type="radio"]:disabled {
    border: 2px solid var(--dark-1) !important;
    box-shadow: 0 0 0 1px var(--dark-8);
    background: var(--dark-8);
    opacity: 1;
}
 
/*****switch*********/
 
.form-switch {
    padding-left: 44px;
    margin: 0;
    min-height: 30px;
    cursor: pointer;
}
 
.form-switch .form-check-input[type="checkbox"] {
    width: 44px;
    border-radius: 100px;
    border: none;
    background: var(--dark-6) url(../images/switch-btn.svg);
    box-shadow: none;
    background-size: 16px;  
    background-repeat: no-repeat;
    background-position: 14%;
}
 
.form-switch .form-check-input:checked[type="checkbox"] {
    background: var(--primary-500) url(../images/switch-btn.svg);
    box-shadow: none;  
    background-repeat: no-repeat;  
     border: none !important;
    background-position: 87%;
    background-size: 16px;
}
 
 
/*************password css*********/
 
 
.password-eye {
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 15px;
}
 
.simple-password-wrapper .password-eye {
    cursor: pointer;
    position: absolute;
    right: 16px;
    bottom: 17px;
    top: auto;
}
 
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--dark-13) !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--dark-1) inset !important;
  transition: background-color 9999s ease-in-out 0s;
}
 
input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
    background-color: var(--dark-1) !important;
  color: fieldtext !important;
}
 
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px var(--dark-1) inset !important;
}
 
.floating-password-wrapper:has(input:focus) .password-eye svg path {
    fill: var(--primary-500);
}
 
.simple-password-wrapper .form-control:focus + .password-eye svg path{
 fill: var(--primary-500);
}
 
/**************calendar css whiout floting whiout floting**************/
 
.calendar-box input {
    letter-spacing: 0;
    color: var(--dark-12);
    background-color: var(--dark-1);
    border-radius: 10px !important;
    padding: 17px 12px !important;
    font-size: 16px;
    font-weight: 400;
    box-shadow: none !important;
    border: 1px solid var(--dark-5) !important;
    line-height: 140% !important;
    height: auto !important;
    width: 100% !important;
}
 
 
 
.rs-input-group:focus-within {
    box-shadow: none !important;
    outline: none !important;
}
 
.calendar-box input:focus, .calendar-box input:focus-within{
    background-color: var(--dark-1);
    border-color: var(--primary-500) !important;
    box-shadow: none !important;
    outline: none !important;
}
 
.calendar-box  .rs-input-group-addon {
    position: absolute;
    right: 0;
    background: url(../images/calendar.svg) !important;
    width: 20px !important;
    height: 20px !important;
    padding: 0;
    background-repeat: no-repeat !important;
}
 
 
.calendar-box  input:focus + .rs-input-group-addon {
    background: url(../images/calendarFocus.svg) !important;
    background-repeat: no-repeat !important;
}
 
 
.calendar-box .rs-picker-input-group {
    border: none;
}
 
.calendar-box .rs-input-group-addon svg {
    display: none;
}
 
 
.calendar-box:has(.rs-picker-input-group[data-focus="true"]) label {
    color:  var(--primary-500);
}
 
.calendar-box.floating-calendar-box label {
    background: var(--dark-1);
    height: auto;
    padding: 2px;
    line-height: 100%;
    position: absolute;
    z-index: 1;
    transform: scale(.85) translateY(-11px) translateX(-.15rem);
    margin: 0;
}
 
 
 
/**************Time picker css whiout floting whiout floting**************/
 
.timepicker-box input {
    letter-spacing: 0;
    color: var(--dark-12);
    background-color: var(--dark-1);
    border-radius: 10px !important;
    padding: 17px 12px !important;
    font-size: 16px;
    font-weight: 400;
    box-shadow: none !important;
    border: 1px solid var(--dark-5) !important;
    line-height: 140% !important;
    height: auto !important;
    width: 100% !important;
}
 
.rs-input-group:focus-within {
    box-shadow: none !important;
    outline: none !important;
}
 
.timepicker-box input:focus, .timepicker-box input:focus-within{
    background-color: var(--dark-1);
    border-color: var(--primary-500) !important;
    box-shadow: none !important;
    outline: none !important;
}
 
.timepicker-box .rs-input-group-addon {
    position: absolute;
    right: 0;
    background: url(../images/timePicker.svg) !important;
    width: 20px !important;
    height: 24px !important;
    padding: 0;
    background-repeat: no-repeat !important;
}
 
.timepicker-box input:focus + .rs-input-group-addon {
    background: url(../images/timePickerFocus.svg) !important;
    background-repeat: no-repeat !important;
}
 
 
.timepicker-box .rs-picker-input-group {
    border: none;
}
 
.timepicker-box .rs-input-group-addon svg {
    display: none;
}
 
 
.timepicker-box:has(.rs-picker-input-group[data-focus="true"]) label {
    color:  var(--primary-500);
}
 
.timepicker-box.floating-timepicker-box label {
    background: var(--dark-1);
    height: auto;
    padding: 2px;
    line-height: 100%;
    position: absolute;
    z-index: 1;
    transform: scale(.85) translateY(-11px) translateX(-.15rem);
    margin: 0;
}
 
 
/**************file upload***********/
 
.upload-input-box input[type="file"] {
  cursor: pointer;
}
 
.upload-input-box .link-icon {
  position: absolute;
  right: 10px;
  bottom: 17px;
  pointer-events: none;
}
 
.upload-input-box {
  position: relative;
}
 
.upload-input-box input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
  width: 0;
  padding: 0;
  margin: 0;
}
 
.upload-input-box input[type="file"]::file-selector-button {
  visibility: hidden;
  width: 0;
  padding: 0;
  margin: 0;
}
 
.upload-input-box input[type="file"]:focus + .link-icon svg path {
    fill: var(--primary-500);
}
 
.upload-input-box.floating-upload-input-box label {
    background: var(--dark-1);
    height: auto;
    padding: 2px;
    line-height: 100%;
    position: absolute;
    z-index: 1;
    transform: scale(.85) translateY(-11px) translateX(-.15rem);
    margin: 0;
}
 
.upload-input-box  .form-control[type="file"] {
    color: var(--dark-7);
}
 
.upload-input-box  .form-control[type="file"].file-selected {
    color: var(--dark-12);
}
 

/**********cuntry code *************/


/* .flag-phone-sec .form-control input {
    padding: 0;
    margin: 0;
    border: none;
    height: auto;
    width: 100%;
    font-family: Open Sauce Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 140% !important;
} */


.flag-phone-sec .react-international-phone-input-container .react-international-phone-input {
    width: 100%;
    box-shadow: none !important;
    padding: 17px 12px 17px 86px !important;
    border-radius: 10px;
    background-color: var(--dark-1);
    border: 1px solid var(--dark-5) !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 140% !important;
    letter-spacing: 0;
    color: var(--dark-12);
    font-family: var(--font-primary);
    height: auto;
}

.flag-phone-sec .react-international-phone-input-container .react-international-phone-input:focus {
    background-color: var(--dark-1);
    border-color: var(--primary-500) !important;
}

.flag-phone-sec:has(input:focus) label {
    color: var(--primary-500) !important;
}
 
.flag-phone-sec .react-international-phone-country-selector {
    position: absolute;
    left: 0;
    top: 0;
}
 
.flag-phone-sec button {
    padding: 17px 12px;
    margin: 0;
    border: none;
    height: auto;
    min-height: auto;
    background: transparent !important;
}
 
.flag-phone-sec button .react-international-phone-country-selector-button__dropdown-arrow {
    background: transparent url(../images/downArrow.svg);    
    border: none;
    width: 17px;
    height: 10px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0 7px;
    background-position: center;
}
 
.flag-phone-sec ul {
    border: 1px solid var(--dark-5) ;    
    border-radius: 0;
    outline: none;
    padding: 10px;
    box-shadow: none !important;
    margin-top: 18px;
    z-index: 3;
}
 
.flag-phone-sec ul li {
    padding: 6px 0;
}
 
.flag-name-sec button {
    letter-spacing: 0;
    color: var(--dark-12);
    border-radius: 10px;
    padding: 13px 12px;
    font-family: Open Sauce Sans;
    font-size: 16px !important;
    font-weight: 400;
    box-shadow: none !important;
    border: 1px solid var(--dark-5) !important;
    line-height: 140% !important;
    height: auto;
    min-height: auto;
    max-height: initial !important;
    background: var(--dark-1) url(../images/downArrow.svg);
    background-repeat: no-repeat;
    background-position: right 15px center;
    transition: none;
}
 
.flag-name-sec button:after {
    display: none !important;
}
 
.flag-name-sec ul {
    box-shadow: none !important;
    outline: none;
    border: 1px solid var(--dark-5);
    padding: 10px;
    border-radius: 0px;
}
 
.flag-name-sec ul div {
    background: var(--dark-1);
    top: -11px;
}
 
.flag-name-sec ul li {
    padding: 4px 0;
}
 
.flag-name-sec ul div input[type="text"] {
    width: 100%;
    margin: 0;
    background-color: var(--dark-1);
    border-radius: 6px;
    padding: 12px 12px;
    font-family: Open Sauce Sans;
    font-size: 14px;
    font-weight: 400;
    box-shadow: none !important;
    border: 1px solid var(--dark-5) !important;
    line-height: 140% !important;
}
 
 
.flag-name-sec button span[data-testid="rfs-selected-flag"] {
    font-size: 25px;
}
 
.flag-name-sec button span {
    padding: 0 10px 0 0;
}
 
.flag-name-sec button:focus {
    background-color: var(--dark-1);
    border-color: var(--primary-500) !important;
}

.flag-name-sec:has(button:focus) label {
    color: var(--primary-500) !important;
}

.label-gray > .form-control-plaintext ~ label, 
.label-gray > .form-control:focus ~ label, 
.label-gray > .form-control:not(:placeholder-shown) ~ label, 
.label-gray > .form-select ~ label{
    background: linear-gradient(to top, var(--dark-1), var(--dark-3));
}

.floting-box.label-gray label{ background: linear-gradient(to top, var(--dark-1), var(--dark-3));}

.floting-box label {
    background: var(--dark-1);
    z-index: 1;
    height: auto;
    margin: 0;
    padding: 2px;
    line-height: 100%;
    position: absolute;
    transform: scale(.85) translateY(-11px) translateX(-.15rem);
}

.flag-code-sec  .ReactFlagsSelect-module_flagsSelect__2pfa2 {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

/******css for multiselect*********/


.multipal-select-sec .rs-picker {
    height: auto !important;
    min-height: auto !important;
    max-height: max-content !important;
    overflow: initial !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.multipal-select-sec .rs-picker  .rs-picker-tag-list {
    padding: 16px !important;   
    margin: 0;
}

.multipal-select-sec .rs-picker .rs-btn {
    background-color: var(--dark-1);
    letter-spacing: 0;
    color: var(--dark-12);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-primary);
    border-radius: 10px;
    padding: 17px 12px;
    box-shadow: none !important;
    border: 1px solid var(--dark-5) !important;
    line-height: 140% !important;
    outline: none !important;
    min-height: 58px;
}


.multipal-select-sec .rs-picker [data-focus="true"] .rs-btn {
    background-color: var(--dark-1) !important;
    border-color: var(--primary-500) !important;
}




.multipal-select-sec .rs-picker-toggle-textbox {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.multipal-select-sec .rs-picker[data-picker="tag"] .rs-picker-search-input > input {
    outline: none;
    border: none;
    padding: 0 !important;
    margin: 0 !important;
}



@media only screen and (max-width: 767px) {

    .btn-outline {
        padding: 9px 13px;
        font-size: 14px;
    }
}