@import './colors';
@import './fonts';
@import './form';
@import './typography.scss';
@import './modal.scss';
@import './cardBox.scss';


// body {
//   background: $dark-1;
//   color: pink;
//   font-family: $font-primary;
// }