.container-fluid {
    padding: 0 80px;
}

.header-sec {
    padding: 12px 0;
    background: var(--dark-1);
    border-bottom: 1px solid var(--dark-5);
}

@media only screen and (max-width: 1440px) {
    .container-fluid {
        padding: 0 15px;
    }
}