.lg-modal .modal-dialog {
  max-width: 1100px;
}

.md-modal .modal-dialog {
  max-width: 800px;
}

.sm-modal .modal-dialog {
  max-width: 500px;
  /* padding: 0 15px; */
}

.common-modal .btn-close-btn {
  position: absolute;
  right: -40px;
  top: -40px;
  background: rgb(255 255 255 / 30%);
  border-radius: 100px;
  padding: 9px;
  color: var(--dark-1);
  width: 44px;
  height: 44px;
}
.common-modal .btn-close-btn svg {
  display: block;
}

@media screen and (max-width: 1199px) {
  .common-modal .btn-close-btn {
    right: 0;
    top: -50px;
  }
}

.common-modal .modal-content {
  border-radius: 24px;
}

.common-modal .modal-content .modal-header {
  background: var(--primary-50);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  padding: 24px 24px;
  border-bottom: 1px solid var(--dark-6);
}

.common-modal .modal-content .common-modal-body {
  padding: 24px 24px;
}
@media screen and (max-width: 767px) {
.common-modal .modal-content .modal-header {padding: 15px;}
}