.header-clc-height {
    min-height: calc(100vh - 82px);
}

.text-blue {
    color: var(--primary-500);
}

.p-12 {
	padding: 12px;
}

.p-20 {
    padding: 20px;
}

.mb-20{ margin-bottom: 20px;}

.mt-32 {
    margin-top: 32px;
}

.mb-48 {
    margin-bottom: 48px;
}

.mt-82 {
    margin-top: 82px;
}

.mb-32 {
    margin-bottom: 32px;
} 

.text-blue {
    color: var(--secondary-500);
}

.font-14 {
    font-size: 14px;
}

.mb-10 {
    margin-bottom: 10px;
}

.font-w-600 {
    font-weight: 600;
}

.font-13 {
    font-size: 13px;
    line-height: 150%;
}

.mt-56 {
    margin-top: 56px;
}

.text-grey {
    color: #696873;
}

@media only screen  and (max-width:767px) {
       
    .mt-32 {
        margin-top: 20px;
    }

    .mb-48 {
        margin-bottom: 30px;
    }

    .mt-82 {
        margin-top: 70px;
    }

    .mb-32 {
        margin-bottom: 20px;
    } 

}