.header-clc-height {
    height: calc(100vh - 82px);
}

.text-blue {
    color: var(--primary-500);
}

.p-12 {
	padding: 12px;
}

.p-20 {
    padding: 20px;
}

.mt-32 {
    margin-top: 32px;
}

.mb-48 {
    margin-bottom: 48px;
}

.mt-82 {
    margin-top: 82px;
}

.mb-32 {
    margin-bottom: 32px;
} 

@media only screen  and (max-width:767px) {
       
    .mt-32 {
        margin-top: 20px;
    }

    .mb-48 {
        margin-bottom: 30px;
    }

    .mt-82 {
        margin-top: 70px;
    }

    .mb-32 {
        margin-bottom: 20px;
    } 

}