@import './css/colors.css';
@import './css/fonts.css';
@import './css/typography.css';
@import './css/form.css';
@import './css/cardBox.css';
@import './css/modal.css';
@import './css/authentication.css';
@import './css/header.css';
@import './css/utilitie.css';
@import './css/onboarding.css';
@import './css/headerdashborad.css';
@import './css/sidebar.css';
@import './css/companyProfile.css';
@import './css/creatingTenderTabs.css';
@import './css/creatingTenderTabsDetails.css';



